In [1]:
t=(1,"friend",85468.8956)

In [2]:
type(t)

tuple

In [3]:
t[2]

85468.8956

In [4]:
t[0]="new"

TypeError: 'tuple' object does not support item assignment

In [5]:
t=("a","b","a","c","a","a")

In [8]:
t.count("a")

4

In [10]:
dict={"key1":"fruit","key2":32,"key3":["hjy",754,56.6],"key4":("jdfj",34,543.56,"s","s","b","f","f")}

In [11]:
dict["key4"]

('jdfj', 34, 543.56, 's', 's', 'b', 'f', 'f')

In [12]:
type(dict["key4"])

tuple

In [17]:
dict["key3"][0]=dict["key3"][0].upper()

In [18]:
dict

{'key1': 'fruit',
 'key2': 32,
 'key3': ['HJY', 754, 56.6],
 'key4': ('jdfj', 34, 543.56, 's', 's', 'b', 'f', 'f')}

In [20]:

dict["key4"].count("s")

2

In [22]:
dict["key3"].append("sdf")

In [23]:
dict

{'key1': 'fruit',
 'key2': 32,
 'key3': ['HJY', 754, 56.6, 'sdf'],
 'key4': ('jdfj', 34, 543.56, 's', 's', 'b', 'f', 'f')}

In [24]:
dict["key4"].append(45345)

AttributeError: 'tuple' object has no attribute 'append'