In [9]:
l=[2,11,18,3,4,5,7,8,9,10]
for n in l:
    if n % 2 == 0:
        print(f"even number  = {n}")
    else:
        print(f"odd  number  = {n}")

even number  = 2
odd  number  = 11
even number  = 18
odd  number  = 3
even number  = 4
odd  number  = 5
odd  number  = 7
even number  = 8
odd  number  = 9
even number  = 10

In [10]:
string="Hello world"
for letter in string:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [11]:
len(l)

10

In [2]:
l=[2,11,18,3,4,5,7,8,9,10]
for i in range(len(l)):
    print("l[{0}]= {1}".format(i,l[i]))

l[0]= 2
l[1]= 11
l[2]= 18
l[3]= 3
l[4]= 4
l[5]= 5
l[6]= 7
l[7]= 8
l[8]= 9
l[9]= 10

In [22]:
for i in l:
    print(i)

2
11
18
3
4
5
7
8
9
10

In [23]:
for i in range(l):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [4]:
b=[10,20,30]
sum=b[0]+b[1]+b[2]
print(sum)

60

In [7]:
sum=0
for j in b:
    sum=sum+j
    print("total={0}".format(sum))

total=10
total=30
total=60

In [11]:
s="hello"
for f in range(len(s)):
    print("s[{0}]={1}".format(f,s[f]),
         )

s[0]=h
s[1]=e
s[2]=l
s[3]=l
s[4]=o

In [6]:
j="10,20@30@40"
y=''
for i in j:
    if i in '123456789':
        y=y+i
    print(int(y))

1
1
1
12
12
12
123
123
123
1234
1234

In [7]:
j="10,20@30@40"
y=''
for i in j:
    if i in '123456789':
        y=y+i
print(int(y))

1234

In [7]:
j="10,20@30@40"
y=''
for i in j:
    if i in '0123456789':
        y=y+i
        print(int(y))

1
10
102
1020
10203
102030
1020304
10203040

In [8]:
j="10,20@30@40"
y=''
for i in j:
    if i in '123456789':
        y=y+i
        print(int(y))

1
12
123
1234

In [2]:
j=["gsdf",23,34.5,45]
for s in j:
    print(s)

gsdf
23
34.5
45

In [12]:
i=str(input("number="))
for c in i:
    print(c)

number=Ritika
R
i
t
i
k
a

In [13]:
s="10#45&345.45%@df"
t=''
for u in s:
    if u in '123456789':
        t=t+u
        print(t)

1
14
145
1453
14534
145345
1453454
14534545

In [ ]:
for