#### Map Function

In [257]:
def square(num):
    return num**2

In [258]:
my_nums=[1,2,3,4,5]

In [259]:
map(square,my_nums)

In [260]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [261]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [140]:
def square(num):
    if num%2==0:
        return num**2
    else:
        return num

In [141]:
list(map(square,my_nums))

[1, 4, 3, 16, 5]

In [142]:
def square(num):
    if num%2==0:
        return num**2

In [143]:
list(map(square,my_nums))

[None, 4, None, 16, None]

In [144]:
def square(num):
    if num%2!=0:
        return num**2

In [145]:
list(map(square,my_nums))

[1, None, 9, None, 25]

In [152]:
def splicer(mystring):
    if len(mystring)%2==0:
        return f'length of string is even = {len(mystring)}'
    else:
        return mystring[0]

In [33]:
names=['Andy','Eve','Sally']

In [154]:
list(map(splicer,names))

['length of string is even = 4', 'E', 'S']

In [155]:
def splicer(mystring):
    eve=len(mystring)
    if eve%2==0:
        return f'length of string is even = {len(mystring)}'
    else:
        l=eve
        return mystring[0].sort()

In [156]:
list(map(splicer,names))

AttributeError: 'str' object has no attribute 'sort'

#### uses of shorting concept

In [157]:
m=['s','j','a']
m.sort()
m

['a', 'j', 's']

#### Filter function

In [158]:
def check_even(num):
    return num%2==0

In [159]:
mynums=[0,1,2,3,4,5,6,7,8,9]

In [160]:
list(filter(check_even,mynums))

[0, 2, 4, 6, 8]

##### Difference between filter and map function

In [161]:
list(map(check_even,mynums))

[True, False, True, False, True, False, True, False, True, False]

#### Using multiple data types objects

In [1]:
def check_even(num):
    if num[0].lower() in 'aeiou':
        return num[0]
    else:
        return num%2==0

In [2]:
n=[1,2,'asfd','Eve']

In [3]:
list(filter(check_even,n))

TypeError: 'int' object is not subscriptable

In [7]:
def check_even(num):
    if type(num)==int:
        if num%2==0:
            return 'Even'
        else:
            return 'Odd'
    else:
        if num[0].lower() in 'aeiou':
            return num[0].upper()

In [8]:
print(n,'\n')
print(list(map(num2,n)))
list(map(check_even,n))

[1, 2, 'asfd', 'Eve']

['1  ', '2   ', 'asfd', 'Eve']

['Odd', 'Even', 'A', 'E']

## Uses Of Lambda

In [167]:
def square(num):
    result=num**2
    return result

In [168]:
square(3)

9

In [169]:
def square(num):
    return num**2

In [170]:
square(5)

25

In [171]:
lambda num: num**2

In [172]:
square = lambda num: (num**2)**2

In [173]:
square(4)

256

#### Lambda takes the arguments upto the total no. of variable it will takes

In [174]:
square(4,5)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [177]:
square([2,4])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

### If we want to take more than two arguments than we take the multiple variable :

In [178]:
square = lambda num1,num2: num1+num2

In [179]:
square(12,22)

34

### If we do not want to take multiple variable for more arguments so, put on the *args besides of variable :

In [180]:
square = lambda *args: args+args

In [181]:
square(1,2,3,4,5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [182]:
square = lambda *args: args*2

In [183]:
square(1)

(1, 1)

In [184]:
square(1,2,3)

(1, 2, 3, 1, 2, 3)

In [185]:
square = lambda *args: sum(args)

In [186]:
square(1,2,3,4,5)

15

In [187]:
square(1,2+3)

6

In [188]:
square(2,4)

6

In [24]:
squa = lambda *args: args

In [12]:
squa(2,3,4)

(2, 3, 4)

In [13]:
squa(2,3,4.)

(2, 3, 4.0)

In [14]:
squa(2,3,4,)

(2, 3, 4)

In [15]:
squa(2,3+4)

(2, 7)

#### Uses of mapping function with lambda

In [25]:
numb=[1,2,3,4,5,6]

In [26]:
list(map(squa,numb))

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [27]:
squa = lambda num: num**2

In [28]:
list(map(squa,numb))

[1, 4, 9, 16, 25, 36]

In [23]:
numb=[1,2,3,4,5,6]

In [197]:
list(map(lambda num1: num1**2,numb))

[1, 4, 9, 16, 25, 36]

In [198]:
numb

[1, 2, 3, 4, 5, 6]

In [199]:
list(map(lambda num1:num1+num1,numb))

[2, 4, 6, 8, 10, 12]

In [200]:
eve = lambda num: num%2==0

In [201]:
eve(1)

False

In [202]:
numb

[1, 2, 3, 4, 5, 6]

In [203]:
list(map(eve,numb))

[False, True, False, True, False, True]

#### Uses of filter function with lambda

In [204]:
list(filter(eve,numb))

[2, 4, 6]

In [205]:
list(filter(eve,numb*3))

[2, 4, 6, 2, 4, 6, 2, 4, 6]

In [37]:
nm = lambda cmp: cmp[::-1]

In [38]:
names

['Andy', 'Eve', 'Sally']

In [39]:
nm('sava')

'avas'

In [40]:
nm('sava','ava')

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [41]:
names

['Andy', 'Eve', 'Sally']

In [42]:
list(map(nm,names))

['ydnA', 'evE', 'yllaS']

#### what happen when we using print() for map function

In [213]:
def num1(n1):
    print(n1)
    if n1 %2==0:
        print('Even')
    else:
        print('Ood')

In [214]:
nu=[1,2,3,4,5,6]

In [215]:
list(map(num1,nu))

1
Ood
2
Even
3
Ood
4
Even
5
Ood
6
Even

[None, None, None, None, None, None]

In [216]:
print(nu)
list(map(num1,nu))

[1, 2, 3, 4, 5, 6]
1
Ood
2
Even
3
Ood
4
Even
5
Ood
6
Even

[None, None, None, None, None, None]

In [217]:
def num1(n1):
    if n1 %2==0:
        return'Even'
    else:
        return 'Ood'

In [5]:
def num2(n2):
    if type(n2)==int:
        if n2%2==0:
            return f'{n2}   '
        else:
            return f'{n2}  '
    else:
        return n2

In [219]:
list(map(num2,nu))

['1  ', '2   ', '3  ', '4   ', '5  ', '6   ']

In [220]:
list(map(num2,nu))
list(map(num1,nu))

['Ood', 'Even', 'Ood', 'Even', 'Ood', 'Even']

### If we want run both list at the same time else it is not possible runs the both so it runs the last one as like:

In [221]:
'Hello world one'
'Hello world two'

'Hello world two'

### So we solve this problem by using print()

In [222]:
print('Hello world one')
'Hello world two'

Hello world one

'Hello world two'

# Or

In [223]:
print('Hello world one')
print('Hello world two')

Hello world one
Hello world two

In [224]:
print(list(map(num2,nu)))
list(map(num1,nu))

['1  ', '2   ', '3  ', '4   ', '5  ', '6   ']

['Ood', 'Even', 'Ood', 'Even', 'Ood', 'Even']

In [225]:
l=[1,2,3,4,5]

In [226]:
l

[1, 2, 3, 4, 5]

In [227]:
print('x'*2)

xx

In [228]:
def num1(n1):
    if n1 %2==0:
        return'Even'
    else:
        return 'Ood'

In [229]:
list(map(num1,nu))

['Ood', 'Even', 'Ood', 'Even', 'Ood', 'Even']

In [230]:
cm = lambda n1: n1 %2==0

In [231]:
list(map(cm,nu))

[False, True, False, True, False, True]

In [232]:
print(list(filter(cm,nu)))

[2, 4, 6]

In [233]:
print(nu)
list(map(cm,nu))

[1, 2, 3, 4, 5, 6]

[False, True, False, True, False, True]

#### Using if else in lambda

In [234]:
cm = lambda n1: 'even' if (n1%2==0) else 'odd'

In [235]:
print(list(map(num2,nu)))
list(map(cm,nu))

['1  ', '2   ', '3  ', '4   ', '5  ', '6   ']

['odd', 'even', 'odd', 'even', 'odd', 'even']

#### Using nested if else in lambda

In [236]:
def check_even(num):
    if type(num)==int:
        if num%2==0:
            return 'Even'
        else:
            return 'Odd'
    else:
        if num[0].lower() in 'aeiou':
            return num[0].upper()

In [237]:
n

[1, 2, 'asfd', 'Eve']

In [238]:
ll= lambda num: if (type(num)==int) 'Even' if num%2==0 else 'Odd' else if num[0].lower() in 'aeiou' return num[0].upper()

SyntaxError: invalid syntax (<ipython-input-238-2fb56f607a38>, line 1)

In [272]:
ll= lambda num: ('Even' if num%2==0 else 'Odd') if type(num)==int else (num[0].upper() if num[0].lower() in 'aeiou' else 0)

In [273]:
print(list(map(num2,n)))
list(map(ll,n))

['1  ', '2   ', 'asfd', 'Eve']

['Odd', 'Even', 'A', 'E']

In [274]:
r=[1,2,'andfd','rertt','Engf','Salllll']

In [275]:
print(list(map(num2,r)))
list(map(ll,r))

['1  ', '2   ', 'andfd', 'rertt', 'Engf', 'Salllll']

['Odd', 'Even', 'A', 0, 'E', 0]

In [278]:
ll= lambda num: ('Even' if num%2==0 else 'Odd') if type(num)==int else (num[0].upper() if num[0].lower() in 'aeiou' else num[::-1])

In [279]:
print(list(map(num2,r)))
list(map(ll,r))

['1  ', '2   ', 'andfd', 'rertt', 'Engf', 'Salllll']

['Odd', 'Even', 'A', 'ttrer', 'E', 'lllllaS']

In [243]:
11=lambda num: 'Even' if num%2==0 else ((num[0].upper()) if num[0].lower() in 'aeiou')

SyntaxError: invalid syntax (<ipython-input-243-c34eb6d0a39c>, line 1)

In [244]:
11 = lambda num: 'Even' if num%2==0 else 'Odd' if type(num)==int else(num[0].upper() if num[0].lower() in 'aeiou' else 0)

SyntaxError: can't assign to literal (<ipython-input-244-5f274a9e6034>, line 1)

#### Concept used for nested if else in lambda

In [245]:
def al(wrd):
    if wrd[0].lower() in 'aeiou':
        return wrd[0].upper()
    else:
        return wrd

In [246]:
names

['Andy', 'Eve', 'Sally']

In [252]:
list(map(al,names))

['A', 'E', 'Sally']

In [268]:
a = lambda wrd: wrd[0].upper() if wrd[0].lower() in 'aeiou' else 0

In [269]:
list(map(a,names))

['A', 'E', 0]

In [265]:
e=lambda ee: 'Even' if ee%2==0 else 0

In [251]:
list(map(e,l))

[0, 'Even', 0, 'Even', 0]

In [73]:
import random
i=0
m=[1,2,3,4,5,6]
r = random.randint(1, 10)
cm = lambda n1:n1+r if n1%2==0 else 0

list(map(cm, m))

[0, 7, 0, 9, 0, 11]

In [88]:
a = 'prince'
enter_name = input()
grab_letter = ''
random_letter = random.choice(a)
i= 12

cm = lambda grab_letter, random_letter,i : (grab_letter +  random_letter, i+1) if len(enter_name)<10 else 0
            
cm(enter_name, random_letter,i)

krisu

('krisue', 13)

In [77]:
cm()

TypeError: <lambda>() missing 2 required positional arguments: 'le' and 'l'