OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [58]:
def old_macdonald(name):
    pass
    l=len(name)
    return name[0].upper()+name[1:3]+name[3].upper()+name[4:l]

In [61]:
old_macdonald('macdonald')

'MacDonald'

### Method : 2

In [2]:
def old_macdonald(name):
    pass
    first_half=name[:3]
    second_half=name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [3]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some 
connector string. For example, some uses of the .join() method:

"--".join(['a','b','c'])

'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

" ".join(['Hello','world'])

"Hello world"

In [102]:
def master_yoda(text):
    pass
    mylist=text.split()
    mylist.reverse()
    return ' '.join(mylist)

In [103]:
master_yoda('i am home')

'home am i'

In [109]:
master_yoda('We are ready')

'ready are We'

### Method : 2

In [6]:
def master_yoda(text):
    pass
    mylist=text.split()
    mylist_reverse=mylist[::-1]
    return ' '.join(mylist_reverse)

In [7]:
master_yoda('i am home')

'home am i'

In [4]:
m=[1,3.4545,'dgfd']
m.reverse()
m

['dgfd', 3.4545, 1]

In [5]:
r='dsfsdf'
r.reverse()
r

AttributeError: 'str' object has no attribute 'reverse'

In [108]:
mylist=["Prince",'Kumar']
' '.join(mylist)

'Prince Kumar'

##### Why we can't do this:

In [110]:
def master_yoda(text):
    pass
    return text[::-1]

In [111]:
master_yoda('We are ready')

'ydaer era eW'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [114]:
def almost_there(n):
    pass
    if 90<=n<=110 or 190<=n<=210:
        return 'True'
    else:
        return 'False'

In [115]:
almost_there(90)

'True'

In [116]:
almost_there(104)

'True'

In [117]:
almost_there(150)

'False'

In [118]:
almost_there(209)

'True'

### Method : 2

In [9]:
def almost_there(n):
    pass
    return 90<=n<=110 or 190<=n<=210

In [10]:
almost_there(104)

True

In [11]:
almost_there(209)

True

### Method : 3

In [12]:
def almost_there(n):
    pass
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [13]:
almost_there(150)

False