
FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [107]:
def has_33(*args):
    pass
    mylist=list(args)
    print(mylist)
    index_3=mylist.index(3)
    
    num_33=mylist[index_3]*10+mylist[index_3+1]
    if num_33==33:
        return 'True'
    else:
        return 'False'

In [108]:
has_33(1,3,3)

[1, 3, 3]

'True'

In [109]:
has_33(1,3,1,3)

[1, 3, 1, 3]

'False'

In [110]:
has_33(3,1,3)

[3, 1, 3]

'False'

we need not to convert tuples to list we can also do it in tuples

In [3]:
def has_33(*args):
    pass
    print(args)
    index_3=args.index(3)
    
    num_33=args[index_3]*10+args[index_3+1]
    if num_33==33:
        return 'True'
    else:
        return 'False'

In [4]:
has_33(1,3,3)

(1, 3, 3)

'True'

In [5]:
has_33(1,3,1,3)

(1, 3, 1, 3)

'False'

In [15]:
mytuples=('dsf',234,34/344)
mytuples

('dsf', 234, 0.09883720930232558)

In [17]:
mylist=list(mytuples)
mylist

['dsf', 234, 0.09883720930232558]

In [68]:
mli=[3,4]
m=mli[0]*10+mli[1]
m

34

### Methods : 2

In [12]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [13]:
has_33([1,3,1,3])

False

### Method : 3

In [14]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [15]:
has_33([1,3,3,1])

True

### Method : 4
This method is not valid

In [49]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        return nums[i:i+2]==[3,3]

In [50]:
has_33([1,3,3,1])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [171]:
def paper_doll(text):
    pass
    newstring=''
    for letter in text:
        newstring=newstring+letter*3
        continue
    print(newstring)

In [173]:
paper_doll("Hello")

HHHeeellllllooo

In [175]:
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

### Method : 2

In [54]:
def paper_doll(text):
    newstring=''
    for letter in text:
        newstring+=letter*3
    return newstring

In [55]:
paper_doll("Hello")

'HHHeeellllllooo'

In [56]:
s='prince'
for letter in s:
    print(letter)

p
r
i
n
c
e

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [213]:
def blackjack(a,b,c):
    pass
    if 1<=a<=11 and 1<=b<=11 and 1<=c<=11:
        sum=a+b+c
        if sum<=21:
            print(sum)
        elif sum>21 and a==11 or b==11 or c==11:
                sum=sum-10
                print(sum)
        else:
            if sum>21:
                print('BUST')

In [214]:
blackjack(5,6,7)

18

In [217]:
blackjack(9,9,9)

BUST

In [218]:
blackjack(9,9,11)

19

### Method : 2

In [60]:
def blackjack(a,b,c):
        if sum([a,b,c])<=21:
            print(sum([a,b,c]))
        elif 11 in [a,b,c] and sum([a,b,c])<=31:
                return sum([a,b,c])-10
        else:
            return 'BUST'

In [61]:
blackjack(5,6,7)

18

In [62]:
blackjack(9,9,9)

'BUST'

In [63]:
blackjack(9,9,11)

19

### Method : 3

In [64]:
def blackjack(a,b,c):
        if sum([a,b,c])<=21:
            print(sum([a,b,c]))
        elif 11 in [a,b,c] and sum([a,b,c])-10<=21:
                return sum([a,b,c])-10
        else:
            return 'BUST'

In [65]:
blackjack(5,6,7)

18

In [66]:
blackjack(9,9,9)

'BUST'

In [67]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [125]:
def summer_69(*args):
    pass
    print(args)
    sum=0
    sum1=0
    if 6 in args:
        mytuples_1=args[0:args.index(6)]
        for item in mytuples_1:
            sum=sum+item
            continue
        if 9 in args:
            mytuples_2=args[args.index(9)+1:len(args)]
            for item in mytuples_2:
                sum1=sum1+item
                continue
        newsum=sum+sum1
        return newsum
    elif 1 or 2 or 3 or 4 or 5 or 7 or 8 or 0 in args:
        for item in args:
            sum=sum+item
            continue
        return sum
    else:
        return 0

In [131]:
summer_69(1,3,5)

(1, 3, 5)

9

In [108]:
summer_69(4, 5, 6, 7, 8, 9)

(4, 5, 6, 7, 8, 9)

9

In [110]:
summer_69(2, 1, 6, 9, 11)

(2, 1, 6, 9, 11)

14

### Methods : 2

In [68]:
def summer_69(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [70]:
summer_69([1, 3, 5])

9

In [72]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [74]:
summer_69([2, 1, 6, 9, 11])

14

In [100]:
def summer_69(*args):
    pass
    print(args)
    num_6=args.index(6)
    num_9=args.index(9)
    return num_6,num_9

In [37]:
summer_69(123,34,5,6,9)

(123, 34, 5, 6, 9)

(3, 4)

In [1]:
1 and 6 in (1,3,4,5,6,6)

True

In [70]:
t=(1,2,3,4,'sdnfd')
l=list(t)
l.split
l

AttributeError: 'list' object has no attribute 'split'

In [83]:
def summer_69(*args):
    pass
    print(args)
    newtuples=args[0:args.index(4)]
    newtuples1=args[args.index(6):len(args)]
    print(newtuples,'\n',newtuples1)

In [84]:
summer_69(1,2,4,5,6,34,6666666666666,667,456)

(1, 2, 4, 5, 6, 34, 6666666666666, 667, 456)
(1, 2)
 (6, 34, 6666666666666, 667, 456)

In [91]:
def summer_69(*args):
    pass
    mylist=list(args)
    print(mylist)
    newtuples=mylist[0:mylist.index(4)]
    newtuples1=mylist[mylist.index(6):len(mylist)]
    print(newtuples)
    print(newtuples1)

In [111]:
summer_69(1,2,4,5,6,34,6666666666666,667,456)

(1, 2, 4, 5, 6, 34, 6666666666666, 667, 456)

12

In [119]:
my=(1,234)
2 in my

False