In [1]:
my_dict={"key1":"two","key2":"two","key3":"three"}

In [2]:
my_dict["key1"]

'two'

In [4]:
my_dict["key4"]='four'
my_dict

{'key1': 'two', 'key2': 'two', 'key3': 'three', 'key4': 'four'}

In [12]:
my_dict["key1"]="one"

In [13]:
my_dict

{'key1': 'one', 'key2': 'two', 'key3': 'three'}

In [19]:
my_dict["key2"]=["one",123,20.89]

In [20]:
my_dict

{'key1': ['one', 123, 20.89], 'key2': ['one', 123, 20.89], 'key3': 'three'}

In [22]:
my_dict["key1"]="one"

In [23]:
my_dict

{'key1': 'one', 'key2': ['one', 123, 20.89], 'key3': 'three'}

In [41]:
my_dict["key1"].upper()

TypeError: string indices must be integers

In [40]:
my_dict["key1"]=my_dict["key1"].capitalize()

TypeError: string indices must be integers

In [28]:
my_dict

{'key1': 'One', 'key2': ['one', 123, 20.89], 'key3': 'three'}

In [30]:
my_dict["key2"][0].upper()

'ONE'

my_dict["key2"][0]="four"

In [31]:
my_dict["key2"][0]="four"

In [32]:
my_dict

{'key1': 'One', 'key2': ['four', 123, 20.89], 'key3': 'three'}

In [39]:
my_dict["key1"]=my_dict["key1"].upper()

TypeError: string indices must be integers

In [42]:
my_dict

'FOUR'

In [61]:
my_dict={"key1":"one","key2":["four",123,23.0967],"key3":"Three"}

In [62]:
my_dict

{'key1': 'one', 'key2': ['four', 123, 23.0967], 'key3': 'Three'}

In [63]:
my_dict["key1"]=my_dict["key1"].capitalize()

In [64]:
my_dict

{'key1': 'One', 'key2': ['four', 123, 23.0967], 'key3': 'Three'}

In [65]:
my_dict["key1"]=my_dict["key1"].upper()
my_dict["key1"]

'ONE'

my_dict["key"]

In [66]:
my_dict

{'key1': 'ONE', 'key2': ['four', 123, 23.0967], 'key3': 'Three'}

In [69]:
my_dict["key2"]=["four",123,223.6787]

In [70]:
my_dict

{'key1': 'ONE', 'key2': ['four', 123, 223.6787], 'key3': 'Three'}

In [71]:
my_dict["key2"][0]=my_dict["key2"][0].capitalize()

In [72]:
my_dict

{'key1': 'ONE', 'key2': ['Four', 123, 223.6787], 'key3': 'Three'}

In [78]:
my_dict

{'key1': 'ONE', 'key2': ['Four', 123, 223.6787], 'key3': 'Three'}

In [92]:
my_dict["key3"]={"key4":"three"}

In [93]:
my_dict

{'key1': 'ONE', 'key2': ['Four', 123, 223.6787], 'key3': {'key4': 'three'}}

In [97]:
my_dict["key3"]={"key4":"three","key5":5,"key6":6.987897}

In [104]:
my_dict

{'key1': 'ONE',
 'key2': ['Four', 123, 223.6787],
 'key3': {'key4': 'THREE', 'key5': 5, 'key6': 6.987897}}

In [105]:
my_dict["key3"]["key4"]=my_dict["key3"]["key4"].upper()

In [107]:
my_dict

{'key1': 'ONE',
 'key2': ['Four', 123, 223.6787],
 'key3': {'key4': 'THREE', 'key5': 5, 'key6': 6.987897}}

In [109]:
my_dict.items()

dict_items([('key1', 'ONE'), ('key2', ['Four', 123, 223.6787]), ('key3', {'key4': 'THREE', 'key5': 5, 'key6': 6.987897})])

In [110]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [111]:
my_dict.values()

dict_values(['ONE', ['Four', 123, 223.6787], {'key4': 'THREE', 'key5': 5, 'key6': 6.987897}])

In [112]:
my_dict["key3"].items()

dict_items([('key4', 'THREE'), ('key5', 5), ('key6', 6.987897)])

In [113]:
my_dict["key3"].keys()

dict_keys(['key4', 'key5', 'key6'])

In [114]:
my_dict["key3"].valuesmy_dict["key3"].items()()

dict_values(['THREE', 5, 6.987897])

In [115]:
my_dict["key2"].values()

AttributeError: 'list' object has no attribute 'values'